@model Excel_On_Services.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<html>
<head>
    <title> Login Form </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #footer{
            margin-top: 200px;
        }
        
    </style>
</head>


<body style="background-image: url('/images/young-791849.jpg'); background-size: cover; min-height: 100vh; margin: 0; padding: 0">

    <div class="container" >
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm" style="background-image:url(); margin-left:300px; margin-top:200px; background-size:cover">


                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                        @Html.AntiForgeryToken()
                        <center><h1 style="color:#ff0000; font-family: cursive;"><b>Create Account</b></h1></center>
                        <hr style="border:groove" />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                           <p style="font-family:cursive; font-size:larger"> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", @style = "color:black" })</p>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <p style="font-family:cursive; font-size:larger">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style = "color:black" })</p>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
</div>
                        <div class="form-group">
                            <p style="font-family:cursive; font-size:larger">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", @style = "color:black" }) </p> 
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
</div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-danger" value="Register"  style="border:groove;"/>
                            </div>
                        </div>
                        <hr />
                        }
                </section>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
